<input type="checkbox" id="menu-btn" class="peer hidden" />
<label
    for="menu-btn"
    title="Menu"
    aria-label="Menu"
    class="lg:hidden content-[' '] fixed right-0 top-0 z-[100] touch-manipulation border-none bg-slate-800 p-8 text-left text-blue-300 no-underline transition-all duration-200 ease-in-out hover:bg-slate-900"
    >
    <span
        class="content-[' '] before:content-[' '] after:content-[' '] absolute right-3 top-[50%] block w-9 bg-blue-300 p-[1px] transition-all duration-200 ease-in-out before:absolute before:right-0 before:top-2 before:block before:w-9 before:bg-blue-300 before:p-[1px] before:transition-all before:duration-200 before:ease-in-out after:absolute after:bottom-2 after:right-0 after:block after:w-9 after:bg-blue-300 after:p-[1px] after:transition-all after:duration-200 after:ease-in-out"
        ></span>
</label>
<nav
  class="fixed top-0 bottom-0 z-[98] h-full w-full right-[-100vw] peer-checked:right-0 bg-slate-800 transition-all duration-200 ease-in-out lg:h-auto lg:right-0 lg:w-auto lg:flex-row lg:relative"
>
  <ul class="relative m-0 flex flex-col gap-2 list-none bg-slate-800 p-0 text-center mt-16 justify-end lg:mt-auto lg:flex-row lg:justify-end">
    {%- if linklists.main-menu.size > 0  -%}
      {%- for link in linklists.main-menu.links -%}
				<li>
          <a href="{{ link.url }}" class=" my-1 mx-0 p-3 block hover:bg-gray-700 transition-colors delay-150">{{ link.title }}</a>
        </li>
      {% endfor %}
    {%- endif -%}
		</ul>
</nav>

<style>
	#menu-btn:checked ~ label span {
		background: transparent;
		&:before {
			top: 0;
			rotate: 45deg;
		}
		&:after {
			bottom: 0;
			rotate: -45deg;
		}
	}
</style>
