@tailwind base;
@tailwind components;
@tailwind utilities;


 .hidden {
  display: none !important;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

#slider_pause.play .icon-play {
  visibility: visible;
  display: inline-block;
}
#slider_pause.play .icon-pause {
  visibility: hidden;
  display: none;
}
#slider_pause.pause .icon-play {
  visibility: hidden;
  display: none;
}
#slider_pause.pause .icon-pause {
  visibility: visible;
  display: inline-block;
}
