@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
  display: none !important;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}


/*
  Focus ring - none
*/

/* Dangerous for a11y - Use with care */
/* .focus-none { */
/*   box-shadow: none !important; */
/*   outline: 0 !important; */
/* } */

/* .focus-offset:focus-visible { */
/*   outline: 0.2rem solid rgba(var(--color-foreground), 0.5); */
/*   outline-offset: 1rem; */
/*   box-shadow: 0 0 0 1rem rgb(var(--color-background)), 0 0 0.2rem 1.2rem rgba(var(--color-foreground), 0.3); */
/* } */

/* .focus-offset.focused { */
/*   outline: 0.2rem solid rgba(var(--color-foreground), 0.5); */
/*   outline-offset: 1rem; */
/*   box-shadow: 0 0 0 1rem rgb(var(--color-background)), 0 0 0.2rem 1.2rem rgba(var(--color-foreground), 0.3); */
/* } */
